# ignore the heaviest object in the universe
/node_modules/

# ignore artifacts of WordPress docker container
wp_docker/*
!wp_docker/docker-compose.yaml
# this is redundant, but I want to be clear
wp_docker/.env 

# TODO remove this before push
temp

tailkick/assets/css/*
!tailkick/assets/css/tailkick.css

tailkick/rtl.css

tailkick/assets/js/*
!tailkick/assets/js/tailkick.js
