{
  "jsc": {
    "externalHelpers": true,
    "target": "es2015",
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "dynamicImport": true,
      "exportDefaultFrom": true
    },
    "transform": {
      "react": {
        "pragma": "React.createElement",
        "pragmaFrag": "React.Fragment",
        "throwIfNamespace": true,
        "development": false,
        "useBuiltins": false,
        "runtime": "automatic"
      },
      "optimizer": {
        "globals": {
          "vars": {
            "__DEBUG__": "true"
          }
        }
      }
    }
  }
}
